{% extends "layout.njk" %}
{% block head %}
  <title>Página não encontrada</title>
{% endblock %}

{% block content %}
<header>
  <div class="links">
    <a href="/">Home</a>
    <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
    <a href="mailto:oi@rocketseat.com.br">Email</a>
    <a href="tel:+5547992078767">Telefone</a>
    <a href="/conteudos">Conteúdos</a>
  </div>
</header>

  <div id="wrapper">
    <img src="https://image.flaticon.com/icons/svg/1488/1488096.svg" class="not-found" alt="Not-found">
    <h1>Error 404</h1>
    <p>A página não foi encontrada. Verifique se sua busca está correta.</p>
  </div>
{% endblock %}