{% extends "layout.njk" %}

{% block head %}
    <title>Sobre</title>
{% endblock %}

{% block content %}
    <header>
      <div class="links">
        <a href="/">Home</a>
        <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Comunidade</a>
        <a href="mailto:oi@rocketseat.com.br">Email</a>
        <a href="tel:+5547992078767">Telefone</a>
        <a href="/conteudos">Conteúdos</a>
      </div>
    </header>

    <div id="wrapper">
      <img src="{{info.avatar_url}}" alt="{{info.name}}" />
      <h1>{{info.name}}</h1>
      <p>{{info.description}}</p>
      <ul>
        {% for tech in info.techs %}
        <li>{{tech.name}}</li>
        {% endfor %}
      </ul>
    </div>

    <div id="links-footer" class="links">
      {% for link in info.links %}
      <a href="{{link.url}}" target="_blank">{{link.name}}</a>
      {% endfor %}
    </div>
{% endblock %}