@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700|Roboto:100,400,500,700&display=swap');

:root {
  /* Criando variáveis */
  /* Para chamar a variável -> var(--color-green) */
  --color-green: #50fa7b;
  --color-rocket: #7159c1;
}

*{
  margin:0;
  padding: 0;
  border:0;
}

body {
  background-color:#282a36;
  font-family: 'Roboto', sans-serif;
}

header {
  margin:0;
  padding:30px;
  border-bottom: 1px solid #444;
  background-color: rgba(0,0,0,0.2);
}

/* Aprofundamento - Cascata - indo diretamente no elemento */
.links {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.links a:first-child {
  margin-left: none;
}

.links a {
  text-align: center;
  margin: 15px;
  color:#FFF;
  font-size: 18px;
  line-height: 28px; /* Espaçamento da linha*/
  text-decoration: none;
}

.links a:hover{
  color:var(--color-green);
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-green);
  transition: color 300ms;
}

#wrapper {
  max-width:500px;
  margin: 16px auto;
  padding: 30px;
  text-align: center;
  color:#ccc;
  font-family: 'Montserrat', sans-serif;
}

#wrapper img {
  height: 220px;
  border-radius:50%;
  border: 3px solid var(--color-green);
  margin-bottom: 30px;
}

#wrapper h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
  text-align: center;
}

#wrapper h4 {
  font-size: 24px;
  line-height: 30 px;
  font-weight: 300;
  /* margin-top: 2px; */
}

#wrapper p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
}

#links-footer a {
  border-bottom: 1px solid var(--color-green);
  padding-bottom: 6px;
}

/* === CARDS === */

.cards {
  max-width: 800px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  color:#fff;
  background-color:var(--color-rocket);
}

.card:hover {
  opacity: 40%;
  cursor: pointer;
}

.card-image img{
  width:100%;
}

.card-content, .card-info {
  padding: 20px;
}

.card-info {
  /* 
    grid ("tabela") -> Trabalha com os eixos x,y
    fr (fração)     -> Flexível 
  */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.price {
  background-color:var(--color-rocket);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}


/* === MODAL === */

.modal-overlay {
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100% ;
  position: fixed; /*Fixado na tela*/
  top: 0; /*Puxa pro começo*/


  /* Escondendo o modal */
  opacity: 1;
  visibility: hidden; /*Pro cursor não aparecer*/
}

.modal {
  /* background-color: #ddd; */
  width:90%;
  height: 100%;
  margin:5vh auto; /*vh - view height -> visão da altura, baseada no dispositivo*/
  position: relative; /*O absoluto respeita o relative*/
}

.modal .close-modal{
  color:#7158c1;
  position: absolute; /*Posiciona em qualquer lugar da tela*/
  right: 8px;
  top:8px;  
  cursor: pointer;
}

/*=== MODAL ATIVO ===*/

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  top:5%;
  width: 100%;
  height: 90%;
  position: absolute; /*usa como padrão a o elemento pai*/
}