@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700|Roboto:100,400,500,700&display=swap');

:root {
  /* Criando variáveis */
  /* Para chamar a variável -> var(--color-green) */
  --color-green: #50fa7b;

}

*{
  margin:0;
  padding: 0;
  border:0;
}

body {
  background-color:#282a36;
  font-family: 'Roboto', sans-serif;
}

header {
  margin:0;
  padding:30px;
  border-bottom: 1px solid #444;
  background-color: rgba(0,0,0,0.2);
}

/* Aprofundamento - Cascata - indo diretamente no elemento */
.links {
  text-align: center;
}

.links a {
  margin: 0 15px;
  color:#FFF;
  font-size: 18px;
  line-height: 28px; /* Espaçamento da linha*/
  text-decoration: none;

}

.links a:hover{
  color:var(--color-green);
  padding-bottom: 6px;
  border-bottom: 1px solid var(--color-green);
  transition: color 300ms;
}

#wrapper {
  max-width:500px;
  margin: 16px auto;
  padding: 30px;
  text-align: center;
  color:#ccc;
  font-family: 'Montserrat', sans-serif;
}

#wrapper img {
  height: 220px;
  border-radius:50%;
  border: 3px solid var(--color-green);
  margin-bottom: 30px;
}

#wrapper h1 {
  font-size: 40px;
  line-height: 50px;
  font-weight: 400;
}

#wrapper h4 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  /* margin-top: 2px; */
}

#wrapper p {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  margin-top: 20px  ;
}

#wrapper.not-found{
  margin-top: 250px;
}

#tecnologias {
  color: #ccc;
  text-align: center;
  line-height: 20px;
  margin: 2 0px 0;
}

#tecnologias li:hover {
  color: #50fa7b;
  cursor: pointer;
}

#tecnologias h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 22px;
}

#tecnologias ul {
  list-style-type: none;
  max-width: 202px;
  margin:5px auto;
}

#tecnologias ul li {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 400;
  padding: 5px 0;
  border:1px solid  var(--color-green);
  border-radius: 20px 0;
}

#links-footer {
  margin-top: 100px;
}

#links-footer  a {
  border-bottom: 1px solid var(--color-green);
  padding-bottom: 6px;
}


/* === CONTEÚDOS === */

.titulo-pagina {
  color:#FFF;
  text-align: center;
  padding: 20px;
  font-size:30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;



}

.tipo-cursos {
  color:#fff;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 30px 20px;
  text-align: center;
  background-color: #000;
}

.curso {
  min-width: 600px;
  margin:0 auto;
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;

  display: grid;
  grid-template-columns: 1fr ;
}

.curso img{
  height: 200px;
  margin: 0 auto;
}

.curso .info-curso {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 350px;
  margin-top: 20px;
}

.curso .info-curso span {
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
}
.curso:hover{
  cursor: pointer;
}

#starter{
  border: 3px solid #7159c1;
}


#starter .info-curso span{
  background-color: #7159c1;
}

#launchbase{
  border: 3px solid #F89520;
}

#launchbase .info-curso span{
  background-color: #F89520;
}

#gostack .info-curso span{
  background-color: #3ed361;
}

#gostack{
  border: 3px solid #3ED361;
}

/* === MODAL TIPOCURSO === */

.modal-cursos{
  width: 100%;
  height: 100%;
  background-color: #F1EFFF;
  position: fixed;

  top:0;
  opacity: 0;
  visibility: hidden;
}

.modal{
  width: 100%;
  height: 96.2%;
  margin: 1vh auto;
  position: relative;
}

.modal .close-modal{
  color: #F00;
  left: 10px;
  position: relative;
  cursor: pointer;
}

.modal-content-curso {
  width: 100%;
  height: 100%;
  position: absolute;
}


/* === MODAL ACTIVE === */

.modal-cursos.active{
  width: 100%;
  height: 100%;
  background-color: #F1EFFF;
  position: fixed;

  top:0;
  opacity: 1;
  visibility: visible;
}

iframe{
  width: 100%;
  height: 100%;
}