{% extends "layout.njk" %}

{% block head %}
<title>Aulas</title>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet"> <!--https://google.github.io/material-design-icons/-->

{% endblock %}


{% block content%}
<div id="wrapper">
  <h1>Aulas</h1>
</div>

<section class="cards">

  {% for item in items %}
  <div class="card" id="{{item.id}}">
    <div class="card-image-container {{'featured-wrapper' if item.featured}}"> <!--Se featured for true, então acrescentar uma classe-->
      <img src="https://img.youtube.com/vi/{{item.id}}/maxresdefault.jpg" alt="Imagem de {{item.title}}">
      {% if item.featured %}
        <div class="featured">Featured</div>
      {% endif %}   
    </div>
    <div class="card-content">
      <p>{{item.title}}</p>
    </div>

    <div class="card-info">
      <p>{{item.duration}}</p>
      <p class="card-price">{{item.price}}</p>
    </div>
  </div>
  {% endfor %}

</section>

{# <div class="modal-overlay">
  <div class="modal">
    <a class="close-modal">
      <i class="material-icons">close</i>
      <!--https://material.io/resources/icons/?search=close&icon=close&style=baseline-->
    </a>

    <div class="modal-content">
      <!--Vídeo Aqui-->
      <!--Trás um html de fora-->
      <iframe src="" frameborder="0"></iframe>
    </div>
  </div>
</div> #}

<script src="scripts.js"></script>

{% endblock %}